<h1>Hello World</h1>

<% @subjects.each do |i| %>
  Name: <%= i.name %> |
  Is Visible: <%= i.visible %> |
  ID: <%= i.id %> |
  Created At: <%= i.created_at %>

  <% i.pages.each do |p| %> 
    <ul>
      <li>Pages: <%= p.name %> | ID: <%= p.id %>  </li>
    </ul>
  <% end %>
  <br><br>
<% end %>

<%= link_to("redir", "index") %>
