<h1>Hello World</h1>

<% @subjects.each do |i| %>
	<%= i.name %> 
	<br>
<% end %>

<br>
ID: <%= @id %>
<br>
ID: <%= params[:id] %>
<br>
Page <%= @page %>
<br>
Next Page <%= @page.to_i + 1 %>
<br>
<%= link_to("redir", {:action => 'redir'}) %>
